<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sportivo">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".registration_screen.CompanyRegistrationActivity"/>
        <activity android:name=".time_screen.TimeSelectActivity"/>
        <activity
            android:name=".login_screen.LoginActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".start_screen.MainActivity" />
        <activity android:name=".company_select_screen.CompanySelectActivity" />
        <activity android:name=".choice_screen.ReservationTypeChoiceActivity" />
        <activity android:name=".reservation_screen.ReservationActivity" />
        <activity android:name=".time_screen.DateSelectActivity" />
        <activity android:name=".registration_screen.RegistrationActivity" />
        <activity android:name=".reservationbyhour_screen.ReservationByHourActivity" />
        <activity android:name=".admin_screen.AdminMainActivity"/>
        <activity android:name=".admin_screen.AdminAddCourtActivity"/>
    </application>

</manifest>